body{
	background: #f2f2f2;
}

#banner{
width: 100%;
position: static;
height: 150px;
background: #f06c64;}



#container{
	margin-top: 50px;
	width: 90%;
	margin-left: 5%;
	position: relative;
 

}

#contactblock{
   margin-bottom: 50px;
	position: relative;
	text-align: center;
	
}

.contactblock{
display: inline-block;
padding: 5px;
}

.contacttext{
	display:inline-block;margin-top:20px;
	text-align: left;
}

.iconmargin{
	margin-bottom: 50px;
}

#formblock{

}

.nameform{
width: 25%;
margin-left: 0%;
}

.emailform{
	width: 40%;
}

.phoneform{
	width: 25%;
	display: inline-block;
}

.textinput{
	width: 65%;
	margin-left: 15%;
	max-width: none;
	
}

.btninput{
	margin-left: 45%;
display: block;
margin-bottom: 20px;	
}