body{
	background: #f2f2f2;
}

.hrstyle{
	
	width: 80%;
	margin-left: 10%;
	border-top: 1px sold #eee;
}


#banner{
width: 100%;
position: static;
height: 150px;
background: #f06c64;
}

#container{
	width: 90%;
	margin-left: 5%;
	position: relative;


}

.leftcontainer{
	position: relative;
	float: left;
	width: 50%;

}

.rightcontainer{
	position: relative;
	float:right;
	width:50%;
	
}

#serviceblock{

	padding: 10px;
	position: relative;
	margin: 20px 5% 20px 5%;

   height: 400px;
}

.imageblock{
	display: inline-block;
	position: relative;
	width: 40%;
	height: 80%;}
	
.imageself
{
    border-radius: 10px;
	background-image: url('../images/sex.jpg');
	background-position: center;
	background-size: auto;
    background-repeat:no-repeat; 
}

.descriptionblock{
	float: right;
	position: relative;
	width: 55%;
	height: 80%;

}

.tittleblock{
	text-align: center;
	letter-spacing: 2px;
}

.textblock{
margin-top: 10px;
}

.costblock{
	float: left;
	display: inline-block;
position: relative;
width: 40%;
height: 10%;
margin-top:3%;


}

.tittlecost{
	text-align: center;
	display:inline-block;
}

.btnblock{
	float: right;
	position: relative;
	width: 55%;
height: 10%;
margin-top:3%;
	
}

.button{
	margin-left: 25%;
	width: 40%;
	padding:0 10px;
}