.placehr{
	margin: 10px 0 10px 10%;
	
	width: 80%;
	   border: 0;
    border-top: 2px solid #eee;
}




#thirtblock, #secondblock, #firstblock{display: block;
	position: relative;
	top: 0;
	width: 90%;
	margin-left: 5%;
		margin-top: 30px;
}

#thirtblock li, #secondblock li, #firstblock li {
	vertical-align: middle;
	
}


.image{
   display: inline-block;
	width: 30%;
	height: 300px;
	border:10px solid rgba(10,10,10,0.2);
	border-radius: 5px;
	margin:10px 0 20px 0;
	background-position: center;
	background-repeat: no-repeat;
}

.textblock {
		margin: 10px 20px;
	 display: inline-block;
	width: 60%;

}

.tittleblock{
	text-align: center;
letter-spacing: 5px;
	padding:80px 0%;
	font-size: 50px;	
}


#firstblock .image{

	float: left;
	background-image: url(images/10.jpg);
}


#firstblock .blocktext{

	float: right;
}


#secondblock .image{
float: right;	
	background-image: url(images/11.jpg);
}



#secondblock .blocktext{
	float: left;
	margin:10px 0;
}


#thirtblock .image{
float: left;	
	background-image: url(images/12.jpg);
}



#thirtblock .blocktext{
	float: right;

}


#thirtblock{
	margin-bottom: 50px;
}




























/*
.relative{
	position: relative;
	background: red;
	width: 100%;
	height: 1400px;
	background: red;

}

.container{
	
	top:100px;
	position: absolute;
	margin-left: 5%;
	width: 90%;	
}

.firstplace, .secondplace, .thirtplace {
height: 400px;

position: relative;
width: 100%;
margin-top: 0%;

}

.firstplaceimage{
	float: left;
	height: 300px;
	position: inherit;
	width: 30%;
	
	background-image: url(images/10.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
    border:10px solid rgba(1,1,1, 0.2);
    border-radius: 3px;
}
.firstplaceimage>h1, .secondplaceimage>h1, .thirtplaceimage>h1{
	letter-spacing: 5px;
	padding:80px 0%;
	font-size: 50px;
}

.firstplace>h3{
		margin:5% 0 0 0;
	float: right;
	width: 65%;
    margin-left: 10px;
}

.placehr{
	margin-left:10%;
	width: 80%;
	    border: 0;
    border-top: 2px solid #eee;
}







.secondplaceimage{
	float: right;
	height: 300px;
	position: inherit;
	width: 30%;
	margin:5% 0;
	background-image: url(images/11.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
    border:10px solid rgba(1,1,1, 0.4);
    border-radius: 3px;
}

.secondplace>h3{
		margin:5% 0 0 0;
	float: left;
	width: 65%;
    margin-left: 10px;
}




.thirtplaceimage{
	float:left;
	height: 300px;
	position: inherit;
	width: 30%;
	margin:5% 0;
	background-image: url(images/12.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
    border:10px solid rgba(1,1,1, 0.4);
    border-radius: 3px;
}

.thirtplace>h3{
		margin:5% 0 5% 0;
	float: right;
	width: 65%;
    margin-left: 10px;
}*/